.cache/
.pytest_cache/
.mypy_cache/
.build/
.tmp/

.vscode/
.devcontainer/
.idea/

**/__samples__/
**/__pycache__/

htmlcov/

.coverage
.notifier
*.pyc
*~
*.conf
*.db
*.orig

.config/*.json
.config/*.yml
!.config/*.sample.*
configuration/
